<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cys_User">

    <resultMap id="Easymap" type="Entity.User">
        <!--id映射 -->
        <id property="id" column="pk_cys_id"/>
        <!--普通属性映射 -->
        <result property="userName" column="cys_username" />
        <result property="passWord" column="cys_password" />
    </resultMap>


     <select id="SearchUserById" parameterType="java.lang.Integer" resultMap="Easymap"> 
        select * from cys_user where pk_cys_id = #{id}
    </select>
    
    <!-- 插入用户信息 -->
    <insert id="addUserInfo" parameterType="Entity.User">
    	insert into cys_user (cys_username,cys_password) VALUES(#{userName},#{passWord})
    </insert>
    <!-- 根据用户id删除数据 -->
    <delete id="deleteUserInfo" parameterType="int">
    	delete FROM cys_user where pk_cys_id = #{id}
    </delete>
</mapper>